.DS_Store
*/.DS_Store

*.sublime-project
*.sublime-workspace
*.code-*
.vscode

.elixir_ls

*.egg-info
*.pyc
.coverage
.pytest_cache
.venv/*
build/
dist/
coverage_report

/node_modules/
yarn-error.log
